@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans)

.node rect {
  /* stroke: #59ABA8; */
  stroke: black;
  stroke-width: 1px;
}

.node circle {
  stroke: black;
  stroke-width: 1px;
}

.node text {
  color: #5A5151;
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #009AB2;
  stroke-width: 2px;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 200px;
  height: 80px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  /* pointer-events: none; */
  overflow-y: scroll;
}

.store {
  height: 200px;
  width: 200px;
  border: 1px solid red;
}

.tree {
  background-color: #fff;
}

body {
  background-color: #fff;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  margin: 0 auto;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.panel {
  background-color: white;
}

.zoom {
  fill: none;
  pointer-events: all;
}

/*-----------------vbox styless ***/
.breadcrumb li {
    display: inline;
}
.breadcrumb li+li:before {
    content:"» ";
}
