@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans)

.node rect {
  /* stroke: #59ABA8; */
  stroke: black;
  stroke-width: 1px;
}

.node circle {
  stroke: black;
  stroke-width: 1px;
}

svg {
  border: 1px solid black;
}

.node text {
  color: #5A5151;
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #009AB2;
  stroke-width: 2px;
}

/*.tooltip {
  position: absolute;
  text-align: center;
  width: 250px;
  height: 200px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  overflow-y: auto;
}*/

.store {
  height: 200px;
  width: 200px;
  border: 1px solid red;
}

.tree {
  background-color: #fff;
}

body {
  background-color: #fff;
}

.panel {
  background-color: white;
}

.json-formatter-row {
  text-align: left;
}

/*store */
#store-container {
  padding-left: 4%;
  color: #764EBA;
}

/** Props **/
