{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true,
    "webextensions": true
  },
  "rules": {
    "linebreak-style": 0,
    "func-names": [
      "error",
      "never"
    ],
    "no-underscore-dangle": 0
  }
}