{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "func-names": [
      "error",
      "never"
    ],
    "brace-style": [
      "error",
      "stroustrup"
    ],
    "no-underscore-dangle": 0
  }
}