.DS_Store
.vscode
build
node_modules
package-lock.json
goodSquares-dontcommit.js
yarn.lock
react-sight.crx
chrome-ext.crx
chrome-ext.pem
reactsight.zip
chrome-ext.zip
builds
monitor
react hierarchy
coverage