.DS_Store
.vscode
node_modules
package-lock.json
goodSquares-dontcommit.js
react-sight.crx
extension.crx
extension.pem
reactsight.zip
extension.zip
builds
monitor
react hierarchy
.coveralls.yml
coverage
.travis.yml

# Build folders
release
build